footer {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
  }
  
  .footer-section {
    flex: 1 0 250px;
    margin-bottom: 20px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color:white;

    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    color: #000;
  }
  